<!-- <app-test-page></app-test-page> -->
<!-- <app-demo></app-demo> -->

<!-- <button mcfButton class="mcf__btn -state-secondary -extra-small" (click)="onButtonClick($event)">Secondary</button> -->

<!-- <app-search-page></app-search-page> -->
<mcf-header 
[brand]="appBrand"  
[hasBrandLogo]="true"  
[hasBurgerMenu]="true"
[hasBrandName]="true"
[hasBrandLogo]="true"
[hasBurgerMenu]="true"
[hasBrandName]="true"
[brand]="appBrand"
[menuItems]="menuItems"></mcf-header>
<app-mppage></app-mppage>
<mcf-footer
id="mcf-footer"  [termsAndConditions]="termsAndConditions" [privacyPolicy]="privacyPolicy">
</mcf-footer>
