.Headersec{
padding:15px;
background-color: rgb(39, 147, 236);
}
.padding-bottom-2{
    padding-bottom: 2px;
}

.padding20{
    padding: 20px;
}
.backgroudColour-Blue{
    background-color: rgb(136, 187, 248);
}
.color-White{
    color:white;
}

