/* You can add global styles to this file, and also import other style files */
$font-path: "~@accelya/sdk/mcf-theme/fonts";
$font-icons-path: $font-path;
@import "~@accelya/sdk/mcf-theme/main";
html,
body,
app-root{
    height: 100%;
}

.body-holder{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    height: 100%;
}
.main-body-block{
    flex: 1;
}